body {
  background-color: white;
}

// =============================================================================
// Override bootstrap-default and add more properties:
// =============================================================================
.container {
  padding: 0 20px;
  min-width: 330px;
}

// =============================================================================
// Adds margin in between containers:
// =============================================================================
.add-margin {
  margin: auto;
  margin-top: 40px;
  &:last-of-type {
    margin-bottom: 40px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
} 

// =============================================================================
// General card properties:
// =============================================================================

.card {
  background-color: white;
  margin-bottom: 20px;
  display: block;
  @include box-shadow(0px, 5px, 8px, rgba(0,0,0,0.08));
}

// =============================================================================
// Configure the line in between two blocks in cards & hamburger menu
// =============================================================================

.block-wrapper {
  padding: 40px 50px;
  border-bottom: 1px solid $gray;
  &:last-child{
    border: none;
  }
  &--buttons {
    padding: 0;
  }
}

// =============================================================================
// =============================================================================
// HAMBURGER MENU & OVERLAY:
// =============================================================================
// =============================================================================


// =============================================================================
// Overlay:
// =============================================================================

.overlay {
  position: fixed;
  width: 100%; 
  height: 0%;
  opacity: 0;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 1;
  transition: opacity 0.5s ;
}

// =============================================================================
// Slider Menu:
// =============================================================================

.slider-nav {
  height: 0; /* 100% Full-height */
  opacity: 0;
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  &__heading {
    font-family: $medium;
    font-size: $xxsmall;
    margin-bottom: 10px;
  }

  &__text {
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 24px;
    color: $turquoise;
    font-family: $book;
    margin-bottom: 20px;
    &:last-child {
      margin: 0;
    }
  }

  &__close-button { // Close button continues to swipe.
    position: absolute;
    top: 32px;
    right: 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    font-size: 36px;
    color: #818181;
  }
}