
// Box-Shadow - Credit: https://gist.github.com/garyharan/957284
// =============================================================================
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// Box-Sizing - Credit: https://gist.github.com/nilghe/502b225dece925608cbc
// =============================================================================
@mixin box-sizing($type) {
	-webkit-box-sizing: $type; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: $type;    /* Firefox, other Gecko */
	box-sizing: $type;         /* Opera/IE 8+ */
}