// =============================================================================
// COLOURS:
// =============================================================================

// Primary Colors:
// =============================================================================
$dark-blue: #0D1C3D;
$light-blue: #0B9DD7;
$gray: #ECEFF1;


// Secondary Colors:
// =============================================================================
$turquoise: #00CCFF;
$green: #76CA61;
$red: #FF5353;

// Font Variables:
// =============================================================================
$bold: 'Gotham Bold';
$book: 'Gotham Book';
$medium: 'Gotham Medium';
$light: 'Gotham Light';

// Font Sizes:
// =============================================================================
$xxsmall: 12px;
$xsmall: 14px;
$small: 18px;
$normal: 20px;
$large: 24px;
$xlarge: 36px;
$xxlarge: 48px;
