@import '_normalize.scss';
@import '_fonts.scss';
@import '_icons.scss';
@import '_mixins.scss';
@import '_variables.scss';
@import '_grid.scss';
@import '_assets.scss';

// =============================================================================
// Header:
// =============================================================================

.header {
  margin: 15px 0;
  text-align: center;

  &__back-button {
    float: left;
    cursor: pointer;
  }

  &__back-text {
    float: left;
    transform: translateY(8px); // -> hack, come back later!
    margin-left: 7px;
    font-family: $bold;
    font-size: $xsmall;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__center-content {
    display: inline-block;
  }

  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-15px); // -> hack, come back later!
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__small-room-wrapper {
    display: inline-block;
    font-family: $bold;
    transform: translateY(6px); // -> hack, come back later!
    @media screen and (min-width: 767px) {
      display: none;
    }
  }

  &__hamburger {
    float: right;
    font-size: 24px;
    cursor: pointer;
  }
  
  &__icon-wrapper {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 15px;
    color: black;
  }

  &__icon {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transform: translateY(-1px); // Hack -> come back later.
  }
  
  &__room-wrapper {
    margin: 30px 0;
    text-align: center;
    font-family: $light;
    font-size: 48px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

// =============================================================================
// Footer:
// =============================================================================

.footer {
  margin: 0;
  &__temp-logo {
    font-family: $bold;
    font-size: $xxsmall;
  }
  &__band {
    height: 5px;
    background-color: $light-blue;
    &--dark-blue {
      background-color: $dark-blue;
    }
  }
}

// =============================================================================
// Main Content wraps timeline, rounding cards and priority cards:
// =============================================================================

.main-content {
  background-color: $gray;
}


// =============================================================================
// Timeline:
// =============================================================================

.timeline-wrapper {
  display: flex;
}

.timeline {
  background-color: $dark-blue;
  color: white;
  height: 55px;
  @include box-shadow(0px, 1px, 1px, rgba(0,0,0,0.48));
  &__block {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include box-sizing(border-box);
    border-bottom: 4px solid #2eb9ce;
    border-color: $dark-blue;
    cursor: pointer;
    
    &--chosen {
      border-color: $turquoise;
    }
  }

  &__text {
    font-family: $medium, monospace;
    color: $turquoise;
    &--completed {
      color: white;
    }
  }

  &__icon {
    width: 20px;
    color: $turquoise;
    &--completed {
      color: $green;
    }
  }

  &__now-icon { // Icon doesn't exist in the set, manually created icon.
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid 2px $turquoise;
    border-radius: 10px;
    transform: translateY(2px); // -> hack, come back later!
  }
}

// =============================================================================
// Rounding Cards:
// =============================================================================

.rounding-card {
  &__heading {
    font-family: $bold;
    font-size: $xsmall;
    margin-bottom: 8px;
  }
  
  &__choice-wrapper {
    margin-bottom: 15px;
    display: flex;
    cursor: pointer;
    &:last-child {
      margin: 0;
    }
  }

  &__icon-wrapper {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: $normal;
    background-color: $turquoise;
  }

  &__icon {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__text-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 8px;
  }

  &__text {
    font-size: $small;
    color: $turquoise;
    font-family: $medium;
  }
}

// =============================================================================
// Priority Cards:
// =============================================================================

.priority-heading {
  font-family: $bold;
  font-size: $xxsmall;
  margin-bottom: 15px;
  text-align: center;
  @media screen and (min-width: 767px) {
    display: none;
  }
}

// Deactivate priority heading on mobile view:
@media screen and (max-width: 767px) {
  .profile-pic {
    width: 100px;
    float: none;
  }
}

.priority-card {
  &__question {
    font-family: $book;
    font-size: $normal;
  }

  &__button-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    position: relative;
    height: 60px;
    flex: 1;
    border-right: 1px solid $gray;
    cursor: pointer;
    &:last-child {
      border: none;
    }
  }

  &__button-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // -> hack, come back later!
    display: flex;
    align-items: center;
  }

  &__button-icon-wrapper {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid $green;
    color: $green;
    border-radius: 15px;
    font-size: 24px;
    
    &--no {
      border: 2px solid $red;
      color: $red;
    }

    &--disabled {
      color: gray;
      border: 2px solid gray;
    }
  }

  &__button-icon {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__button-text {
    font-family: $bold;
    margin-left: 5px;
    &--yes {
      color: $green;
    }
    &--no {
      color: $red;
    }
    &--disabled {
      color: gray;
    }
  }
}

.button {
  width: 100%;
  max-width: 300px;
  height: 50px;
  background-color: $turquoise;
  border: none;
  font-family: $bold;
  font-size: $xxsmall;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}

.center-wrapper {
  text-align: center;
  margin-bottom: 20px;
}